<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label><input type="text" class="form-control mr-2"
    placeholder="buscar"
    [(ngModel)]="filtroLista"> 
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Codigo:</th>
      <th>Nome:</th>
      <th>Email:</th>
      <th>Senha</th>
      <th>CPF</th>
      <th>RG</th>
      <th>Endereço</th>
      <th>Rua</th>
      <th>Nº</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th>Registro Ativo</th>
      <th>Ativo</th>
    </tr>
  </thead>
  <tbody *ngIf="cadastros && cadastros.length">
    <tr *ngFor="let cadastro of cadastrosFiltrados">
      <td>{{cadastro.pessoaId}}</td>
      <td>{{cadastro.nome | uppercase}}</td>
      <td>{{cadastro.email}}</td>
      <td>{{cadastro.senha}}</td>
      <td>{{cadastro.cpf}}</td>
      <td>{{cadastro.rg}}</td>
      <td>{{cadastro.endereco}}</td>
      <td>{{cadastro.rua}}</td>
      <td>{{cadastro.numero}}</td>
      <td>{{cadastro.telefone}}</td>
      <td>{{cadastro.celular}}</td>
      <td>{{cadastro.registroAtivo}}" </td>
      <td>
        <button class="btn btn-success" *ngIf="cadastro.registroAtivo ==1"></button>
        <button class="btn btn-danger" *ngIf="cadastro.registroAtivo ==0"></button>

      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!cadastros.length">
    <tr> 
      <td colspan="12" class="text-center">
          <h4>
              Nenhum Cadastro Encontrado!
            </h4>
      </td>
      
    </tr>
  </tfoot>
</table>

